@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* body {
  @apply text-black dark:text-white;
} */

:root {
  --secondary-font: "Poppins", sans-serif;
}

/* html, body {
  font-family: var(--secondary-font);
} */

button{
  cursor: pointer;
}


/* optional CSS variables to use across components */
:root{
  --bg: #ffffff;
  --text: #000000;
}
.dark {
  --bg: #131313; /* dark background */
  --text: #ffffff;
}

/* apply variables site-wide */
html, body {
  background-color: var(--bg);
  color: var(--text);
  /* transition: background-color 200ms, color 200ms; */
}
