---
import CatagorySection from '../components/CatagorySection.astro';
import PopularNews from '../components/PopularNews.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="container mx-auto px-3 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <!-- Left Content: 8 columns on large screens -->
      <div class="lg:col-span-8">
        <CatagorySection />
      </div>

      <!-- Right Sidebar: 4 columns on large screens -->
      <div class="lg:col-span-4">
        <PopularNews/>
      </div>
    </div>

  </section>
</Layout>

