---
import "../styles/global.css";
---

<div class="container mx-auto">
  <img
    src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:1296/h:280/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/ads-full.png"
    alt="Advertisement"
    class="w-full h-auto block"
  />
</div>
