---
import "../styles/global.css";
---

<div class="container mx-auto">
    <div class="border-t border-b border-gray-600">
        <div class="flex flex-wrap lg:flex-nowrap">
            <!-- Article 1 -->
            <div
                class="w-full lg:w-1/3 border-gray-600 border-b lg:border-b-0 lg:border-r p-5"
            >
                <div class="flex items-center space-x-6">
                    <div
                        class="text-[91px] text-[#8B8B8B66] min-w-[50px]"
                        style="font-family: 'Anton';"
                    >
                        1
                    </div>
                    <div class="">
                        <h5
                            class="text-2xl lg:text-3xl mb-3"
                            style="font-family: 'Anton', sans-serif;"
                        >
                            Five Signs of a Highly Intelligent Person
                        </h5>
                        <div class="text-[12.8px] text-[#AEAEAE] mt-1">
                            <span
                                >BY <span
                                    class="font-semibold text-[#3CFFD0] mr-2"
                                    >KRISTIN</span
                                ></span
                            >
                            <span>JANUARY 31, 2023</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Article 2 -->
            <div
                class="w-full lg:w-1/3 border-gray-600 border-b lg:border-b-0 lg:border-r p-5"
            >
                <div class="flex items-center space-x-6">
                    <div
                        class="text-[91px] text-[#8B8B8B66] min-w-[50px]"
                        style="font-family: 'Anton';"
                    >
                        2
                    </div>
                    <div>
                        <h5
                            class="text-2xl lg:text-3xl mb-3"
                            style="font-family: 'Anton', sans-serif;"
                        >
                            The remarkable rise of Ryan Manson
                        </h5>
                        <div class="text-[12.8px] text-[#AEAEAE] mt-1">
                            <span
                                >BY <span
                                    class="font-semibold text-[#3CFFD0] mr-2"
                                    >KRISTIN</span
                                ></span
                            >
                            <span>JANUARY 31, 2023</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Article 3 -->
            <div class="w-full lg:w-1/3 p-5">
                <div class="flex items-center space-x-6">
                    <div
                        class="text-[91px] text-[#8B8B8B66] min-w-[50px]"
                        style="font-family: 'Anton';"
                    >
                        3
                    </div>
                    <div>
                        <h5
                            class="text-2xl lg:text-3xl mb-3"
                            style="font-family: 'Anton', sans-serif;"
                        >
                            Yeah, I bought some Dogecoin today
                        </h5>
                        <div class="text-[12.8px] text-[#AEAEAE] mt-1">
                            <span
                                >BY <span
                                    class="font-semibold text-[#3CFFD0] mr-2"
                                    >KRISTIN</span
                                ></span
                            >
                            <span>JANUARY 31, 2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
