---
import "../styles/global.css";
---

<div class="container mx-auto mt:mt-10 mt-5 p-4">
    <div
        class="text-2xl mb-4 font-sans"
          style="font-family: 'Anton', sans-serif; font-size: 22px;"
    >
        Articles
    </div>
    <div class="flex flex-wrap -mx-3">
        <!-- Article Card 1 -->
        <div class="w-full lg:w-1/4 px-3 mb-6">
            <div class=" border-none">
                <img
                    src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:auto/h:auto/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/camera.webp"
                    alt="..."
                    class="w-full object-cover h-[300px] md:h-[150px]"
                />
                <div class="p-4">
                    <h6
                        class="text-2xl font-sans"
                        style="font-family: 'Anton', sans-serif;"
                    >
                        A curation of interests on the designers life
                    </h6>
                    <div class="text-sm text-[#AEAEAE] mt-1">
                        <span
                            >BY <span class="font-semibold text-[#3CFFD0] mr-2"
                                >KRISTIN</span
                            ></span
                        >
                        <span>JANUARY 31, 2023</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article Card 2 -->
        <div class="w-full lg:w-1/4 px-3 mb-6">
            <div class=" border-none">
                <img
                    src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:auto/h:auto/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/book.webp"
                    alt="..."
                    class="w-full object-cover h-[300px] md:h-[150px]"
                />
                <div class="p-4">
                    <h6
                        class="text-2xl font-sans"
                        style="font-family: 'Anton', sans-serif;"
                    >
                        A beginner’s guide to customer journey maps
                    </h6>
                    <div class="text-sm text-[#AEAEAE] mt-1">
                        <span
                            >BY <span class="font-semibold text-[#3CFFD0] mr-2"
                                >KRISTIN</span
                            ></span
                        >
                        <span>JANUARY 31, 2023</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article Card 3 -->
        <div class="w-full lg:w-1/4 px-3 mb-6">
            <div class=" border-none">
                <img
                    src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:auto/h:auto/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/artwork-1.webp"
                    alt="..."
                    class="w-full object-cover h-[300px] md:h-[150px]"
                />
                <div class="p-4">
                    <h6
                        class="text-2xl font-sans"
                        style="font-family: 'Anton', sans-serif;"
                    >
                        Establishing That You Have Something To Say
                    </h6>
                    <div class="text-sm text-[#AEAEAE] mt-1">
                        <span
                            >BY <span class="font-semibold text-[#3CFFD0] mr-2"
                                >KRISTIN</span
                            ></span
                        >
                        <span>JANUARY 31, 2023</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscribe Card -->
        <div class="w-full lg:w-1/4 px-3 mb-6">
            <div class="bg-[#4c02e8] text-white p-6 text-center h-full">
                <h6
                    class="font-semibold text-xl mb-8"
                    style="font-family: var(--secondary-font);"
                >
                    Sign up for our newsletters!
                </h6>
                <input
                    type="email"
                    class="w-full bg-[#9360ff] text-white p-3 mb-4 border-none rounded-none"
                />
                <input
                    type="submit"
                    value="Subscribe"
                    class="w-full bg-[#3cffd0] text-black font-bold py-3 cursor-pointer"
                />
            </div>
        </div>
    </div>
</div>
