---
import "../styles/global.css";
import ReplySection from "./ReplySection.astro";
---

<div class="">
    <p class="uppercase  font-semibold">Politics</p>
   <h1 class="text-4xl mb-5 font-[Anton]">
        Georgia’s voting law will make elections easier than ever
   </h1>

    <div class="border-b border-gray-700 pb-5 mb-5">
        <p class="text-gray-400">
            Tuesday’s primary is the first big test of the legislation, which
            was opposed by voting rights groups and Democrats.
        </p>
    </div>

    <div class="md:flex justify-between items-center my-5">
        <div
            class="mt-2 mb-2 md:mb-2 text-xs md:text-sm text-gray-500 flex flex-wrap gap-3 items-center"
        >
            <span>
                BY <span class="font-semibold text-[#3CFFD0]">KRISTIN</span>
            </span>
            <span class="uppercase">JANUARY 31, 2023</span>
        </div>
        <div class="flex space-x-4">
            <!-- Facebook -->
            <a
                href="#"
                class="w-10 h-10 bg-gray-800 rounded-full text-white flex items-center justify-center hover:bg-[#3CFFD0] hover:text-black transition"
            >
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a
                href="#"
                class="w-10 h-10 bg-gray-800 rounded-full text-white flex items-center justify-center hover:bg-[#3CFFD0] hover:text-black transition"
            >
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a
                href="#"
                class="w-10 h-10 bg-gray-800 rounded-full text-white flex items-center justify-center hover:bg-[#3CFFD0] hover:text-black transition"
            >
                <i class="fab fa-instagram"></i>
            </a>

            <!-- LinkedIn -->
            <a
                href="#"
                class="w-10 h-10 bg-gray-800 rounded-full text-white flex items-center justify-center hover:bg-[#3CFFD0] hover:text-black transition"
            >
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>

    <div class="theme-blog-details border-b border-gray-700 pb-10">
        <img
            src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:auto/h:auto/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/red-woman.webp"
            alt="News"
            class="w-full my-5"
        />

        <p class="text-[#454545] dark:text-white mb-5">
            Tuesday’s primary is the first big test of the legislation, which
            was opposed by voting rights groups and Democrats. Struggling to
            sell one multi-million dollar home currently on the market won’t
            stop actress and singer Jennifer Lopez from expanding her property
            collection. Lopez has reportedly added to her real estate holdings
            an eight-plus acre estate in Bel-Air anchored by a multi-level
            mansion.
        </p>

        <p class="text-[#454545] dark:text-white mb-5">
            The property, complete with a 30-seat screening room, a 100-seat
            amphitheater and a swimming pond with sandy beach and outdoor
            shower, was asking about $40 million, but J. Lo managed to make it
            hers for $28 million. As the Bronx native acquires a new home in
            California, she is trying to sell a gated compound.
        </p>

        <p class="text-[#454545] dark:text-white mb-5">
            Black farmers in the US’s South— faced with continued failure their
            efforts to run successful farms their launched a lawsuit claiming
            that “white racism” is to blame for their inability to the produce
            crop yields and on equivalent to that switched seeds.
        </p>

        <div class="bg-black text-center py-12 my-12">
            <p class="text-white text-3xl font-light max-w-[80%] mx-auto">
                “Most of us felt like we could trust each other to be
                quarantined together, so we didn’t need to wear masks or stay
                far apart”
            </p>
        </div>

        <p class="text-[#454545] dark:text-white mb-5">
            France’s repeat of the 2017 runoff confirms Macron’s and Le Pen’s
            own political analysis: That the divide between the left and the
            right is no longer relevant in France and has been replaced by an
            opposition between a mainstream bloc that is pro-European and open
            to the outside world on one side, and nationalists on the other.
        </p>

        <p class="text-[#454545] dark:text-white mb-5">
            Both candidates scored higher than five years ago, leaving the
            traditional right and left in an even more shambolic state than
            before. Macron went from 24 percent in 2017 in the first round to
            27.6 percent Sunday and Le Pen went from 21.3 percent to 23.4
            percent.
        </p>

        <p class="text-[#454545] dark:text-white mb-5">
            The gap between them is higher than last time around, showing that
            Macron has managed to drum up the most votes despite controversies
            in the campaign’s last mile, including over the state’s overuse of
            consulting firms. But the far-right bloc — Marine Le Pen, Eric
            Zemmour and nationalist Nicolas Dupont-Aignan combined — garnered
            than 30 percent of the total vote.
        </p>

        <div class="my-12">
            <img
                src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:1024/h:683/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/uploads/2023/01/neon.jpg"
                alt="Captioned Image"
                class="w-full"
            />
            <p class="mt-3 text-gray-400 text-sm">
                The great wall of china. This illustration is purchase form an
                marketplace.
            </p>
        </div>

        <h2 class="text-2xl mb-5 font-[Anton]">
            What Will Be The Next Step to Complete?
        </h2>

        <p class="text-[#454545] dark:text-white mb-5">
            The “new ’20s” idea might not work—there were a lot more young
            people in the United States then than now; a reprise of the
            world-changing inventions and discoveries of the 1920s would be a
            big surprise to those economists who believe that we have been in an
            invention dry spell since the 1970s. In his Businessweek piece,
            Peter Coy largely agrees, writing, “In all probability … the U.S.
            will continue to wrestle with ‘secular
        </p>

        <p class="text-[#454545] dark:text-white mb-5">
            These experts make strong cases, and they satisfy my natural
            instinct not to go there. But I remain very interested in the
            reasons the ’20s appeal to our imagination right now. Of course,
            it’s the booze, the sex, and the parties. But it’s also a decade
            with a very strong identity—and I think that helps. Writing in the
            journal American Speech in 1951, Mamie J. Meredith argued that the
            ’20s boasted
        </p>

        <h2 class="text-2xl mb-4 font-[Anton]">
            Apple Design Award Winners: Apps
        </h2>

        <ul
            class="list-disc list-inside  mb-5 marker:text-[#3CFFD0] text-[#454545] dark:text-white"
            style="font-family: 'Anton', sans-serif;"
        >
            <li>Parents Are Fed Up With Their Kids’ Expensive Berry Habits</li>
            <li>15 Mother’s Day Gifts for the Burned-Out Mom in Your Life</li>
            <li>Really Though, What Jeans Are in Style Now?</li>
            <li>Don’t Fall for Fertility Fearmongering About Trans Men</li>
        </ul>

        <p class="text-[#454545] dark:text-white mb-5">
            Zemmour, a 63-year-old TV pundit-turned-politician, was once tipped
            to come second behind Macron, back in October. But he plummeted
            spectacularly in the polls after suffering from a perceived lack of
            credibility as the Ukraine war started and former comments praising
            Russian President Vladimir Putin resurfaced. He scored a measly 7
            percent. Despite their bitter and unrelenting fighting throughout
            the campaign, he swiftly endorsed Marine Le Pen.
        </p>

        <p class="mb-5 text-[#454545] dark:text-white">
            I have disagreements with Marine Le Pen,” Zemmour said at his
            concession speech Sunday, “but there is a man facing Marine Le Pen
            who has let in 2 million immigrants … who would therefore do worse
            if he were reelected — it is for this reason that I call on my
            voters to vote for Marine Le Pen.
        </p>
    </div>

    <div class="mt-10 flex flex-wrap items-center gap-3">
        <h5
            class="text-xl text-[#454545] dark:text-white mb-0 w-full sm:w-auto"
            style="font-family: 'Anton', sans-serif;"
        >
            Tags:
        </h5>
        <button
            class="border border-gray-600 px-4 py-2 text-gray-400 hover:bg-[#3CFFD0] hover:text-black rounded"
        >
            Elegant
        </button>
        <button
            class="border border-gray-600 px-4 py-2 text-gray-400 hover:bg-[#3CFFD0] hover:text-black rounded"
        >
            Latest
        </button>
        <button
            class="border border-gray-600 px-4 py-2 text-gray-400 hover:bg-[#3CFFD0] hover:text-black rounded"
        >
            Modern
        </button>
    </div>

    <div class="flex items-center gap-6 mt-12">
        <img
            src="https://mlbrcemi40a6.i.optimole.com/cb:Zyxq.56bae/w:200/h:200/q:mauto/f:best/https://gossip-themes.com/beatrix/wp-content/wphb-cache/gravatar/4ba/4baf8d27f33c75151b378befcd1ca61fx200.jpg"
            alt="Author"
            class="w-32 h-32 rounded-full object-cover"
        />
        <div>
            <h6 class="text-[#454545] dark:text-white text-sm">About Author</h6>
            <h5 class="text-[#454545] dark:text-white  text-lg mb-1" style="font-family: 'Anton', sans-serif;">Kristin</h5>
            <p class="text-[#454545] dark:text-white mb-4">
                My favorite compliment is being told that I look like my mom. Seeing myself in her image, like this daughter up top, makes me so proud of how far I’ve come.
            </p>
            <div class="flex space-x-3">
                <i class="fab fa-facebook-f text-black dark:text-white"></i>
                <i class="fab fa-twitter text-black dark:text-white"></i>
                <i class="fab fa-instagram text-black dark:text-white"></i>
                <i class="fab fa-pinterest-p text-black dark:text-white"></i>
            </div>
        </div>
    </div>

    <ReplySection />
    <!-- <script>

        const mode = localStorage.getItem("theme")
        console.log("local" , mode)
        if(mode === "dark"){
            const 
        }
    </script> -->
</div>
